.App {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.chat-title {
  flex-shrink: 0;
}

.chat-bot {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;
}

.loading {
  flex-shrink: 0;
}

.chat-input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 20px;
}
  